@{
    Layout = "_Layout";
}


<h1>Hello</h1>

<div id="links">
    <p>@Html.ActionLink("Courses", "Index", "Courses")</p>
    <p>@Html.ActionLink("Students", "Index", "Students")</p>
    <p>@Html.ActionLink("Departments", "Index", "Departments")</p>
</div>