@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<p>Are you sure you want to delete this student? Once action is completed it cannot be undone.</p>

@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

@Html.ActionLink("List of students", "Index")