@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
@using UniversityRegistrar.Models

<p>Student Details</p>
<p>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</p>

