@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student
@using UniversityRegistrar.Models

<h2>Edit</h2>

<h4>Edit the information for @Html.DisplayFor(model => model.StudentName)</h4>