@{
    Layout = "_Layout";
}


<h1 class="sub-page-headers">Students</h1>

@using UniversityRegistrar.Models

@foreach (Student student in @Model)
{
    <p>@Html.ActionLink("Student Details", "Details", "Students", new {id = student.StudentId})</p>
}

<div id="links">
    <p>@Html.ActionLink("Departments", "Index", "Departments")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>@Html.ActionLink("Courses", "Index", "Courses")</p>
</div>