@{
    Layout = "_Layout";
}


<h1 class="sub-page-headers">Students</h1>

@using UniversityRegistrar.Models

@foreach (Student student in @Model)
{
    <p>@Html.ActionLink("Student Details", "Details", "Students", new {id = student.StudentId})</p>
}