@{
    Layout = "_Layout";
}


<h1 class="sub-page-headers">Courses</h1>

@using UniversityRegistrar.Models

@foreach (Course course in @Model)
{
    <p>@Html.ActionLink("Departments", "Index", "Departments", new {id = course.CourseId})</p>
}