@{
    Layout = "_Layout";
}


<h1 class="sub-page-headers">Courses</h1>

@using UniversityRegistrar.Models

@foreach (Course course in @Model)
{
    <p>@Html.ActionLink("Departments", "Index", "Departments", new {id = course.CourseId})</p>
}

<div id="links">
    <p>@Html.ActionLink("Departments", "Index", "Departments")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>@Html.ActionLink("Students", "Index", "Students")</p>
</div>